<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <h1>Welcome to Time tracker</h1>
    <div align="center">
    
    <table style="width:200px;height:300px;border: thin;" >
    <tr>
        <tr>
            <td><a href="tracker" >To view all time sheet</a></td>
          
        </tr>
        <tr>
            <td><a href="createTimesheet">To create new time sheet</a></td>
        </tr>
        <tr>
            <td><a href="search">To search user time sheet</a></td>
        </tr>
    </table>
</div>
</body>
</html>